.decore-icon {
  position: absolute;
  top: -13px;
  left: 989px;
  width: 265px;
  height: 367px;
  opacity: 0.4;
}
/* .decoree{
  border: 2px solid red;
  border-radius: 100px;
  background-color: purple;
  height: 10px;
  width: 10px;
  position: absolute;
  top: 300px;
  right: 365px;
  box-shadow: -10px 0px 100px 100px red;
} */

.social-icon {
  position: absolute;
  top: -8px;
  left: -8px;
  /* width: 197px; */
  height: 65px;
}
.socialmedia{
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.socialmedia >img{
  /* border: 2px solid red; */
  /* height: 60px; */
}
.instalast{

  /* border: 2px solid green; */
}
.instalast img{
  /* border: 2px solid red; */
}
.instalast .inst {
  /* border: 2px solid red; */
  /* color:  red; */
  position: absolute;
  top: 23px;
  left: 100px;
  z-index: 1;
}

.discover-our-app {
  position: absolute;
  top: 0px;
  left: 2px;
  letter-spacing: 0.01em;
  line-height: 124.5%;
  font-weight: 500;
}

.google-play-icon {
  position: absolute;
  top: 41px;
  left: 0px;
  width: 107px;
  height: 35px;
}

.play-store-icon {
  position: absolute;
  top: 41px;
  left: 114px;
  width: 100px;
  height: 35px;
}

.discover {
  /* border: 2px solid red; */
  position: absolute;
  top: 71px;
  left: 0px;
  width: 214px;
  height: 76px;
}
.discover .stores{
  /* border: 2px solid red; */
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 8px;

}
.discover .stores .playstore{
  /* border: 2px solid green; */
  background-color: black;
  color: white;
  border-radius: 50px;
  height: 40px;
  position: absolute;
  width: 50%;

}
.discover .stores .playstore .storelogo img{
  /* border: 2px solid red; */
  position: absolute;
  top: 9px;
  left: 15px;
}
.discover .stores .playstore .storelogo h5{
  /* border: 2px solid red; */
  font-size: 8px;
  position: absolute;
  top: -7px;
  left: 40px;
  font-weight: 1000;
}

.discover .stores .playstore .storelogo h4{
  /* border: 2px solid red; */
  width: 90px;
  font-size: 8px;
  position: absolute;
  top: 6px;
  left: 40px;
}
.discover .stores .applestore{
  /* border: 2px solid purple; */
  background-color: black;
  border-radius: 50px;
  height: 40px;
  width: 48%;
  position: absolute;
  right: 0;
}
.discover .stores .applestore i{
  /* border: 2px solid red; */
  color: white;
  position: absolute;
  top: 8px;
  left: 9px;
}
.discover .stores .applestore h6{
  /* border: 1px solid red; */
  position: absolute;
  color: white;
  top: -9px;
  left: 30px;
  font-size: 7px;
  
}
.discover .stores .applestore h4{
  /* border: 1px solid red; */
  color: white;
  position: absolute;
  font-size: 11px;
  left: 30px;

}

.outbound {
  /* border: 2px solid red; */
  position: absolute;
  top: 21px;
  left: 846px;
  width: 214px;
  height: 147px;
}
.outbound .socialmedia img{
  /* border: 2px solid red; */

}

.jadoo {
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: 500;
}

.book-your-trip {
  margin: 0;
}

.book-your-trip-container {
  position: absolute;
  top: 85px;
  left: 0px;
  font-size: 13px;
  line-height: 124.5%;
  font-weight: 500;
  color: #5e6282;
}

.company-desc {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 207px;
  height: 133px;
  font-size: 44px;
  color: #181e4b;
}

.company {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 21px;
  line-height: 124.5%;
  color: #080809;
}

.about {
  position: absolute;
  top: 60px;
  left: 0px;
  line-height: 124.5%;
  font-weight: 500;
}

.careers {
  position: absolute;
  top: 94px;
  left: 0px;
  line-height: 124.5%;
  font-weight: 500;
}

.mobile {
  position: absolute;
  top: 129px;
  left: 0px;
  line-height: 124.5%;
  font-weight: 500;
}

.nav-row {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 108px;
  height: 151px;
}

.contact {
  position: absolute;
  top: 0px;
  left: 1px;
  font-size: 21px;
  line-height: 124.5%;
  color: #080809;
}

.helpfaq {
  position: absolute;
  top: 58px;
  left: 0px;
  line-height: 124.5%;
  font-weight: 500;
}

.nav-row1 {
  position: absolute;
  top: 0px;
  left: 180px;
  width: 89px;
  height: 151px;
}

.airline {
  position: absolute;
  top: 96px;
  left: 0px;
  line-height: 124.5%;
  font-weight: 500;
}

.low-fare-tips {
  position: absolute;
  top: 131px;
  left: 0px;
  line-height: 124.5%;
  font-weight: 500;
}

.nav-row2 {
  position: absolute;
  top: 0px;
  left: 360px;
  width: 114px;
  height: 153px;
}

.nav-columns {
  position: absolute;
  top: 21px;
  left: 290px;
  width: 474px;
  height: 153px;
  font-size: 18px;
}

.copyrights {
  position: absolute;
  top: 258px;
  left: 430px;
  font-size: 14px;
  line-height: 124.5%;
  font-weight: 500;
}

.footer {
  position: absolute;
  top: 4420px;
  left: 186px;
  width: 1617.94px;
  height: 633.86px;
  font-size: 20px;
}

.div {
  position: absolute;
  top: 140px;
  left: 0px;
}

.div1 {
  position: absolute;
  top: 105px;
  left: 35px;
}

.div2 {
  position: absolute;
  top: 0px;
  left: 70px;
}

.div3 {
  position: absolute;
  top: 35px;
  left: 70px;
}

.div4 {
  position: absolute;
  top: 70px;
  left: 70px;
  color: #6246e5;
}

.div5 {
  position: absolute;
  top: 105px;
  left: 70px;
}

.div6 {
  position: absolute;
  top: 140px;
  left: 70px;
}

.div7 {
  position: absolute;
  top: 0px;
  left: 105px;
}

.div8 {
  position: absolute;
  top: 35px;
  left: 105px;
}

.div9 {
  position: absolute;
  top: 70px;
  left: 105px;
}

.div10 {
  position: absolute;
  top: 105px;
  left: 105px;
}

.div11 {
  position: absolute;
  top: 140px;
  left: 105px;
}

.div12 {
  position: absolute;
  top: 0px;
  left: 140px;
  color: #ff7152;
}

.div13 {
  position: absolute;
  top: 35px;
  left: 140px;
}

.div14 {
  position: absolute;
  top: 70px;
  left: 140px;
}

.div15 {
  position: absolute;
  top: 105px;
  left: 140px;
}

.div16 {
  position: absolute;
  top: 140px;
  left: 140px;
}

.parent {
  position: absolute;
  top: 324px;
  left: 1203px;
  width: 153px;
  height: 166px;
}

.subscribe-section-child {
  /* border: 2px solid red; */
  border-radius: 140px 0px 0px 0px;
  background: #F9F7FE;
  position: absolute;
  top: 13px;
  left: 110px;
  width: 1140px;
  height: 407px;
}
.subscribe-section-child img{
  /* border: 2px solid red; */
  position: absolute;
  right: 0;
}
.subscribe-section-child .downelipse{
  /* border: 2px solid pink; */
  bottom: -30px;
  left: 50px;
  transform: rotate(90deg);
}


.group-child {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 10px;
  background-color: #fff;
  width: 421px;
  height: 68px;
}

.your-email {
  position: absolute;
  top: 25px;
  left: 66px;
}

.group-item {
  position: absolute;
  top: 5.5px;
  left: 3.5px;
  border-radius: 1px;
  width: 13px;
  height: 5.25px;
}



.vector-parent {
  /* border: 2px solid red; */
  position: absolute;
  top: 25px;
  left: 31px;
  width: 21px;
  height: 18px;
}
.group-inner {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 5px;
  background: url('./Group\ 46.png');
  /* border: 1px solid #39425d; */
  box-sizing: border-box;
  width: 21px;
  height: 18px;
  z-index: 1;
}

.rectangle-parent {
  position: absolute;
  top: 274px;
  left: 339px;
  width: 421px;
  height: 68px;
  font-size: 14px;
  color: #39425d;
  font-family: Montserrat;
}

.rectangle-div {
  /* border: 2px  solid red; */
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 10px;
  background: linear-gradient(180deg, #ff946d, #ff7d68);
  width: 180px;
  height: 68px;
}

.subscribe {
  position: absolute;
  top: 22px;
  left: 50px;
  font-weight: 600;
}

.rectangle-group {
  position: absolute;
  top: 274px;
  left: 784px;
  width: 180px;
  height: 68px;
  text-align: center;
  font-size: 17px;
  color: #fff;
  font-family: 'Open Sans';
}

.subscribe-to-get-container {
  position: absolute;
  top: 92px;
  left: 232px;
  font-size: 33px;
  line-height: 54px;
  font-weight: 600;
  font-family: Poppins;
  color: #5e6282;
  text-align: center;
}

.subscribe-section-item {
  position: absolute;
  top: 0px;
  left: 1207px;
  width: 70px;
  height: 70px;
}

.subscribe-section {
  position: absolute;
  top: 3834px;
  left: 48px;
  width: 1356px;
  height: 490px;
  font-size: 22px;
  color: #e5e5e5;
  font-family: Roboto;
}

.image-27-icon {
  position: absolute;
  top: 16px;
  left: 0px;
  width: 130px;
  height: 130px;
  object-fit: cover;
  mix-blend-mode: luminosity;
}

.image-28-icon {
  position: absolute;
  top: 27px;
  left: 207px;
  width: 172.86px;
  height: 110px;
  object-fit: cover;
  mix-blend-mode: luminosity;
}

.group-child1 {
  position: absolute;
  top: 42px;
  left: 0px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.81481170654297px 46.85px rgba(0, 0, 0, 0.02), 0px 38.51852035522461px 25.48px rgba(0, 0, 0, 0.01), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.148148536682129px 6.52px rgba(0, 0, 0, 0.01), 0px 1.8518518209457397px 3.15px rgba(0, 0, 0, 0);
  width: 241px;
  height: 86px;
}

.image-29-icon {
  position: absolute;
  top: 0px;
  left: 40px;
  width: 162px;
  height: 162px;
  object-fit: cover;
}

.rectangle-container {
  position: absolute;
  top: 0px;
  left: 430px;
  width: 241px;
  height: 162px;
}

.image-30-icon {
  position: absolute;
  top: 67px;
  left: 718px;
  width: 162px;
  height: 32px;
  object-fit: cover;
  mix-blend-mode: luminosity;
}

.image-31-icon {
  position: absolute;
  top: 71px;
  left: 979px;
  width: 94px;
  height: 21px;
  object-fit: cover;
  mix-blend-mode: luminosity;
}

.logos {
  position: absolute;
  top: 3561px;
  left: 186px;
  width: 1073px;
  height: 162px;
}

.subheading {
  position: absolute;
  top: 9px;
  left: 0px;
  text-transform: uppercase;
  font-weight: 600;
}

.heading {
  position: absolute;
  top: 44px;
  left: 0px;
  font-size: 50px;
  text-transform: capitalize;
  font-family: Volkhov;
  color: #14183e;
}

.testimonials-section-child {
  position: absolute;
  top: 256px;
  left: 0px;
  width: 87px;
  height: 12px;
}

.group-child2 {
  position: absolute;
  top: -2px;
  left: -2px;
  border-radius: 10px;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.81481170654297px 46.85px rgba(0, 0, 0, 0.02), 0px 38.51852035522461px 25.48px rgba(0, 0, 0, 0.01), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.148148536682129px 6.52px rgba(0, 0, 0, 0.01), 0px 1.8518518209457397px 3.15px rgba(0, 0, 0, 0);
  border: 2px solid #f7f7f7;
  box-sizing: border-box;
  width: 506px;
  height: 236px;
}

.on-the-windows {
  position: absolute;
  top: 16px;
  left: 34px;
  line-height: 32px;
  font-family: 'Open Sans';
  color: #4e4e73;
  display: inline-block;
  width: 402px;
}

.chris-thomas {
  position: absolute;
  top: 156px;
  left: 34px;
  font-size: 18px;
  font-weight: 600;
}

.ceo-of-red {
  position: absolute;
  top: 189px;
  left: 34px;
  font-size: 14px;
  font-weight: 500;
}

.group-div {
  position: absolute;
  top: 124px;
  left: 87px;
  width: 502px;
  height: 232px;
}

.group-child3 {
  position: absolute;
  top: 34px;
  left: 37px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.81481170654297px 46.85px rgba(0, 0, 0, 0.02), 0px 38.51852035522461px 25.48px rgba(0, 0, 0, 0.01), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.148148536682129px 6.52px rgba(0, 0, 0, 0.01), 0px 1.8518518209457397px 3.15px rgba(0, 0, 0, 0);
  width: 504px;
  height: 245px;
}

.testimonail {
  position: absolute;
  top: 62px;
  left: 71px;
  line-height: 32px;
  font-weight: 500;
  display: inline-block;
  width: 402px;
}

.image-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  object-fit: cover;
}

.mike-taylor {
  position: absolute;
  top: 192px;
  left: 71px;
  font-size: 18px;
  font-weight: 600;
}

.lahore-pakistan {
  position: absolute;
  top: 224px;
  left: 71px;
  font-size: 14px;
  font-weight: 500;
}

.rectangle-parent1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 541px;
  height: 279px;
}

.pagination-icon {
  position: absolute;
  top: 139.09px;
  left: 654px;
  width: 16px;
  height: 74.33px;
}

.group-parent {
  position: absolute;
  top: 0px;
  left: 496px;
  width: 669px;
  height: 356px;
  font-size: 16px;
}

.testimonials-section {
  position: absolute;
  top: 3109px;
  left: 186px;
  width: 1165px;
  height: 356px;
}

.heading1 {
  position: absolute;
  top: 42px;
  left: 0px;
  font-size: 50px;
  text-transform: capitalize;
  font-family: Volkhov;
  color: #14183e;
}

.image-child {
  position: absolute;
  top: -150px;
  left: -90px;
  width: 654px;
  height: 667px;
  opacity: 0.4;
}

.group-child4 {
  position: absolute;
  /* border: 2px solid red; */
  /* background: url('./leaf\ 1\ bg.png'); */
  top: 0px;
  left: 0px;
  border-radius: 26px;
  background-color: #fff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.81481170654297px 46.85px rgba(0, 0, 0, 0.02), 0px 38.51852035522461px 25.48px rgba(0, 0, 0, 0.01), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.148148536682129px 6.52px rgba(0, 0, 0, 0.01), 0px 1.8518518209457397px 3.15px rgba(0, 0, 0, 0);
  width: 370px;
  height: 400px;
}

/* .bgleaf{
  border: 2px solid red;
  position: absolute;
  text-align: center;
  top: 293px;
  left: 38px;
  width: 20px;
  height: 20px;
  z-index: 1;
}
.bgleaf img{
  border: 2px solid green;
  height: 20px;
} */
.options-icon {
  /* border: 2px solid rgb(255, 4, 255); */
  /* background: url('./leaf\ 1\ bg.png'); */
  /* z-index: 1; */
  position: absolute;
  top: 283px;
  align-items: center;
  /* justify-content: center; */
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(181, 92, 92); */
  left: 28px;
  width: 139px;
  height: 36px;
  z-index: 1;
}
.options-icon .circle{
  /* border: 2px solid green; */
  /* background: url('./leaf\ 1\ bg.png');
  background-repeat: no-repeat; */
  background-color: #F5F5F5;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.options-icon .circle img{
  /* border: 2px solid yellow; */
}

.building-1-icon {
  position: absolute;
  top: 348px;
  left: 25px;
  width: 16px;
  height: 16px;
}

.people-going {
  position: absolute;
  top: 349px;
  left: 56px;
  letter-spacing: -0.02em;
  line-height: 124.5%;
  font-weight: 500;
}

.june {
  position: absolute;
  top: 242px;
  left: 25px;
  line-height: 124.5%;
  font-weight: 500;
}

.by-robbin-joseph {
  position: absolute;
  top: 242px;
  left: 129px;
  line-height: 124.5%;
  font-weight: 500;
}

.rectangle-icon {
  position: absolute;
  top: 20px;
  left: 25px;
  border-radius: 24px;
  width: 321px;
  height: 161px;
  object-fit: cover;
}

.trip-to-greece {
  position: absolute;
  top: 207px;
  left: 25px;
  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 124.5%;
  font-weight: 500;
  color: #080809;
}

.line-div {
  position: absolute;
  top: 242.5px;
  left: 115.5px;
  background-color: #84829a;
  border-right: 1px solid #84829a;
  box-sizing: border-box;
  width: 1px;
  height: 17px;
}

.rectangle-parent2 {
  /* border: 2px solid green; */
  position: absolute;
  top: 0px;
  left: 0px;
  width: 370px;
  height: 400px;
}

.group-child5 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.81481170654297px 46.85px rgba(0, 0, 0, 0.02), 0px 38.51852035522461px 25.48px rgba(0, 0, 0, 0.01), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.148148536682129px 6.52px rgba(0, 0, 0, 0.01), 0px 1.8518518209457397px 3.15px rgba(0, 0, 0, 0);
  width: 263px;
  height: 129px;
}

.trip-to-rome {
  position: absolute;
  top: 39px;
  left: 81px;
  font-size: 18px;
  letter-spacing: -0.01em;
  line-height: 124.5%;
  font-weight: 500;
}

.completed1 {
  color: #080809;
}

.completed {
  position: absolute;
  top: 75px;
  left: 80px;
  letter-spacing: -0.05em;
  line-height: 124.5%;
  font-weight: 500;
  color: #8a79df;
}

.ellipse-div {
  position: absolute;
  top: 18px;
  left: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 1px 9px 6px rgba(105, 104, 104, 0.13);
  width: 50px;
  height: 50px;
  opacity: 0.3;
}

.mask-group-icon {
  position: absolute;
  /* border: 2px solid red; */
  border-radius: 50%;
  top: 18px;
  left: 20px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.ongoing {
  position: absolute;
  top: 16px;
  left: 82px;
  letter-spacing: -0.04em;
  line-height: 124.5%;
  font-weight: 500;
  color: #84829a;
}

.group-child6 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 30px;
  background-color: #f5f5f5;
  width: 156px;
  height: 5px;
}

.group-child7 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 30px;
  background-color: #8a79df;
  width: 73px;
  height: 5px;
}

.rectangle-parent4 {
  position: absolute;
  top: 102px;
  left: 82px;
  width: 156px;
  height: 5px;
}

.rectangle-parent3 {
  position: absolute;
  top: 219px;
  left: 222px;
  width: 263px;
  height: 129px;
  font-size: 14px;
  color: #080809;
}

.heart-6-1 {
  position: absolute;
  top: 349.71px;
  left: 325px;
  width: 20px;
  height: 18.58px;
}

.image1 {
  position: absolute;
  top: 59px;
  left: 0px;
  width: 485px;
  height: 400px;
}

.image {
  position: absolute;
  top: 19px;
  left: 629px;
  width: 485px;
  height: 459px;
  color: #84829a;
}

.subheading1 {
  position: absolute;
  top: 0px;
  left: 3px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.group-child8 {
  background: url('./Group\ 7.png');
  /* border: 2px solid red; */
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 13px;
  background-color: #f0bb1f;
  width: 47px;
  height: 48px;
}

.selection-1-icon {
  /* border: 2px solid red; */
  position: absolute;
  top: 13px;
  left: 13px;
  width: 22px;
  height: 22px;
}

.choose-destination {
  position: absolute;
  top: 0px;
  left: 68px;
  line-height: 124.5%;
}

.lorem-ipsum-dolor-container {
  position: absolute;
  top: 24px;
  left: 68px;
  line-height: 124.5%;
}

.value {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 395px;
  height: 64px;
}

.value-child {
  position: absolute;
  top: 4px;
  left: 0px;
  width: 47px;
  height: 48px;
}

.lorem-ipsum-dolor-container1 {
  position: absolute;
  top: 25px;
  left: 68px;
  line-height: 124.5%;
}

.value1 {
  position: absolute;
  top: 224px;
  left: 0px;
  width: 395px;
  height: 65px;
}

.value2 {
  position: absolute;
  top: 112px;
  left: 0px;
  width: 395px;
  height: 64px;
}

.values {
  position: absolute;
  top: 203px;
  left: 0px;
  width: 395px;
  height: 289px;
}

.book-a-trip {
  position: absolute;
  top: 2417px;
  left: 186px;
  width: 1114px;
  height: 492px;
  font-size: 16px;
}

.decore-icon1 {
  position: absolute;
  top: 317.5px;
  left: 1005.5px;
  width: 97px;
  height: 253px;
}

.destination-child {
  position: absolute;
  top: -1.3px;
  left: -79px;
  border-radius: 24px;
  width: 474px;
  height: 638.3px;
  object-fit: cover;
}

.full-europe {
  position: absolute;
  top: 28px;
  left: 20px;
  line-height: 124.5%;
  font-weight: 500;
}

.navigation-1-icon {
  position: absolute;
  top: 68px;
  left: 20px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}

.days-trip {
  position: absolute;
  top: 68px;
  left: 51px;
  font-size: 16px;
  line-height: 124.5%;
  font-weight: 500;
}

.k {
  position: absolute;
  top: 28px;
  left: 250px;
  line-height: 124.5%;
  font-weight: 500;
}

.card-5-child {
  /* border: 1px solid red; */
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-radius: 0px 0px 24px 24px;
  background-color: #fff;
  width: 316px;
  height: 130px;
}

.card-5 {
  /* border: 2px solid green; */
  position: absolute;
  top: 328px;
  left: 0px;
  width: 316px;
  height: 130px;
}

.destination {
  /* border: 2px solid red; */
  z-index: 1;
  position: absolute;
  top: 160px;
  left: 725px;
  width: 315px;
  height: 457px;
}

.rome-italty {
  position: absolute;
  top: 27px;
  left: 20px;
  line-height: 124.5%;
  font-weight: 500;
  z-index: ;
}

.days-trip1 {
  position: absolute;
  top: 68px;
  left: 54px;
  font-size: 16px;
  line-height: 124.5%;
  font-weight: 500;
}

.k1 {
  position: absolute;
  top: 28px;
  left: 230px;
  line-height: 124.5%;
  font-weight: 500;
}

.destination1 {
  position: absolute;
  top: 160px;
  left: 0px;
  width: 315px;
  height: 457px;
  z-index: 1;
}

.days-trip2 {
  position: absolute;
  top: 68px;
  left: 55px;
  font-size: 16px;
  line-height: 124.5%;
  font-weight: 500;
}

.k2 {
  position: absolute;
  top: 28px;
  left: 240px;
  line-height: 124.5%;
  font-weight: 500;
}

.destination2 {
  position: absolute;
  top: 160px;
  left: 365px;
  width: 315px;
  height: 457px;
  /* z-index: -1; */
}

.subheading2 {
  position: absolute;
  top: 0px;
  left: 459px;
  font-weight: 600;
  text-align: center;
}

.heading2 {
  position: absolute;
  top: 35px;
  left: 317px;
  font-size: 50px;
  text-transform: capitalize;
  font-family: Volkhov;
  color: #14183e;
  text-align: center;
}

.destinations {
  position: absolute;
  top: 1614px;
  left: 173px;
  width: 1102px;
  height: 617px;
}

.div17 {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #ff7152;
}

.div18 {
  position: absolute;
  top: 35px;
  left: 0px;
}

.div19 {
  position: absolute;
  top: 70px;
  left: 0px;
}

.div20 {
  position: absolute;
  top: 0px;
  left: 35px;
}

.div21 {
  position: absolute;
  top: 35px;
  left: 35px;
}

.div22 {
  position: absolute;
  top: 70px;
  left: 35px;
}

.div34 {
  position: absolute;
  top: 0px;
  left: 140px;
}

.group {
  position: absolute;
  top: 0px;
  left: 1075px;
  width: 153px;
  height: 166px;
  text-align: left;
  font-size: 22px;
  color: #e5e5e5;
  font-family: Roboto;
}

.category {
  position: absolute;
  top: 8px;
  left: 498px;
  font-size: 18px;
  font-weight: 600;
}

.we-offer-best {
  position: absolute;
  top: 45px;
  left: 274px;
  font-size: 50px;
  text-transform: capitalize;
  font-family: Volkhov;
  color: #14183e;
}

.category-active-child {
  position: absolute;
  top: 248.91px;
  left: 0px;
  border-radius: 30px 0px 10px 0px;
  background-color: #df6951;
  width: 100px;
  height: 100px;
}

.category-active-item {
  position: absolute;
  top: 1.91px;
  left: 35px;
  border-radius: 36px;
  background-color: #fff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.81481170654297px 46.85px rgba(0, 0, 0, 0.02), 0px 38.51852035522461px 25.48px rgba(0, 0, 0, 0.01), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.148148536682129px 6.52px rgba(0, 0, 0, 0.01), 0px 1.8518518209457397px 3.15px rgba(0, 0, 0, 0);
  width: 267px;
  height: 314px;
}

.engrossed-listening-park {
  position: absolute;
  top: 192.91px;
  left: 79px;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  width: 181px;
  height: 78px;
}

.best-flights {
  position: absolute;
  top: 150.91px;
  left: 109px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Open Sans';
  color: #1e1d4c;
  text-align: left;
}

.category-active-inner {
  position: absolute;
  top: 0px;
  left: 84.21px;
  width: 166.87px;
  height: 153.33px;
}

.category-active {
  position: absolute;
  top: 176.09px;
  left: 228px;
  width: 302px;
  height: 348.91px;
}

.category-child {
  position: absolute;
  top: 0px;
  left: 53px;
  width: 92px;
  height: 78px;
}

.built-wicket-longer {
  position: absolute;
  top: 149px;
  left: 5px;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  width: 181px;
  height: 78px;
}

.calculated-weather {
  position: absolute;
  top: 107px;
  left: 0px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Open Sans';
  color: #1e1d4c;
}

.category1 {
  position: absolute;
  top: 220px;
  left: 0px;
  width: 190px;
  height: 227px;
}

.group-child9 {
  position: absolute;
  top: 50px;
  left: 67px;
  border-radius: 18px 5px 10px 5px;
  background-color: #fff1da;
  /* #fff1da */
  width: 50px;
  height: 49px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}

.image-25-icon {
  position: absolute;
  top: 6px;
  left: 0px;
  border-radius: 0px 0px 30px 35px;
  width: 40px;
  height: 69px;
  object-fit: cover;
}

.rectangle-parent6 {
  position: absolute;
  top: 0px;
  left: 66px;
  width: 67px;
  height: 75px;
}

.barton-vanity-itself {
  position: absolute;
  top: 151px;
  left: 0px;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  width: 181px;
  height: 78px;
}

.local-events {
  position: absolute;
  top: 109px;
  left: 29px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Open Sans';
  color: #1e1d4c;
}

.category2 {
  position: absolute;
  top: 218px;
  left: 609px;
  width: 181px;
  height: 229px;
}

.category-item {
  position: absolute;
  top: 0px;
  left: 63px;
  width: 77px;
  height: 66px;
}

.we-deliver-outsourced-container {
  position: absolute;
  top: 138px;
  left: 0px;
  line-height: 26px;
  font-weight: 500;
  display: inline-block;
  width: 181px;
  height: 78px;
}

.customization {
  position: absolute;
  top: 96px;
  left: 20px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Open Sans';
  color: #1e1d4c;
}

.category3 {
  position: absolute;
  top: 231px;
  left: 908px;
  width: 181px;
  height: 216px;
}

.services {
  position: absolute;
  top: 966px;
  left: 154px;
  width: 1228px;
  height: 525px;
  text-align: center;
  font-size: 16px;
}

.decore-icon2 {
  position: absolute;
  top: 149px;
  /* left: 420px; */
  right: 0;
  /* width: 1922.31px; */
  height: 872.58px;
}

.logo-icon {
  position: absolute;
  top: 1.7px;
  left: 0px;
  width: 114.91px;
  height: 33.99px;
}

.nav-item {
  position: absolute;
  top: 9px;
  left: 722.08px;
  font-weight: 500;
}

.nav-item1 {
  position: absolute;
  top: 9px;
  left: 607.08px;
  font-weight: 500;
}

.nav-item2 {
  position: absolute;
  top: 9px;
  left: 492.08px;
  font-weight: 500;
}

.nav-item3 {
  position: absolute;
  top: 9px;
  left: 337.08px;
  font-weight: 500;
}

.nav-item4 {
  position: absolute;
  top: 9px;
  left: 882.08px;
  font-weight: 500;
}

.sign-up {
  position: absolute;
  top: 9px;
  left: 22px;
  font-weight: 500;
}

.button-child {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 5px;
  border: 1px solid #212832;
  box-sizing: border-box;
  width: 102px;
  height: 40px;
}

.button {
  position: absolute;
  top: 0px;
  left: 978.08px;
  width: 102px;
  height: 40px;
}

.dropdown-child {
  position: absolute;
  top: 8.15px;
  left: 29.15px;
  width: 9.71px;
  height: 5.56px;
}

.dropdown {
  position: absolute;
  top: 9px;
  left: 1122.08px;
  width: 38.5px;
  height: 22px;
}

.top-nav {
  position: absolute;
  top: 196px;
  left: 560.92px;
  width: 1160.58px;
  height: 40px;
}

.cta-child {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 10px;
  background-color: #f1a501;
  box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  width: 170px;
  height: 60px;
}

.find-out-more {
  position: absolute;
  top: 19px;
  left: 27px;
  font-weight: 500;
}

.cta1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 170px;
  height: 60px;
}

.play-demo1 {
  position: absolute;
  top: 15px;
  left: 73px;
  font-weight: 500;
}

.play-button-icon {
  position: absolute;
  top: -15px;
  left: -30px;
  width: 112px;
  height: 112px;
}

.play-demo {
  position: absolute;
  top: 4px;
  left: 214px;
  width: 165px;
  height: 52px;
  text-align: left;
  font-size: 17px;
  color: #686d77;
  font-family: Poppins;
}

.cta {
  position: absolute;
  top: 475px;
  left: 0px;
  width: 379px;
  height: 60px;
  text-align: center;
  font-family: 'Google Sans';
}

.tagline {
  position: absolute;
  top: 0px;
  left: 2px;
  font-size: 20px;
  text-transform: uppercase;
  color: #df6951;
}

.desc1 {
  position: absolute;
  top: 351px;
  left: 0px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #5e6282;
  display: inline-block;
  width: 477px;
}

.decore-icon3 {
  position: absolute;
  top: 123px;
  left: 245px;
  width: 385px;
  height: 12px;
}

.heading3 {
  position: absolute;
  top: 54px;
  left: 2px;
  font-size: 84px;
  letter-spacing: -0.04em;
  line-height: 89px;
  font-family: Volkhov;
  color: #181e4b;
}

.desc {
  position: absolute;
  top: 112px;
  left: 0px;
  width: 630px;
  height: 535px;
}

.image-icon1 {
  position: absolute;
  top: 0px;
  left: 417px;
  width: 783.87px;
  height: 764px;
}

.hero-content {
  position: absolute;
  top: 254px;
  left: 568px;
  width: 1200.87px;
  height: 764px;
  font-size: 18px;
  color: #fff;
  font-family: Poppins;
}

.hero {
  position: absolute;
  top: -149px;
  left: -420px;
  width: 1922.31px;
  height: 1018px;
  font-size: 17px;
  color: #212832;
  font-family: 'Google Sans';
}

.travel-agency-landing-page-ui {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 4774px;
  overflow: hidden;
  text-align: left;
  font-size: 18px;
  color: #5e6282;
  font-family: Poppins;
}